@model Reservation
@{
}
<head>
    <title>Search</title>
</head>
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0"
     style="background-image: url(../img/carousel-1.jpg)">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">
                Payment
            </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item text-white active"
                        aria-current="page">
                        Payment
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mt-5">
            <div class="m-auto col-lg-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <h1 class="mb-5">Amount <span class="text-primary text-uppercase">@ViewBag.AmountOfReservation</span></h1>
                    <form asp-action="CheckOut" method="post">
                        <div class="row g-3">
                            @if (Context.Session.GetString("Type") != "Guest")
                            {
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="GuestID" asp-for="@Model.GuestID">
                                        <label for="GuestID">GuestID</label>
                                    </div>
                                </div>
                            }
                            <div class="col-md-6">
                                <div class="form-floating">
                                  @*  // <label for="PaymentMethod">Payment Method:</label> *@
                                    <select id="PaymentMethod" name="PaymentMethod" onchange="toggleInput()" asp-for="@Model.PaymentMethod">
                                        <option value="Cash">Cash</option>
                                        <option value="Card">Card</option>
                                      
                                    </select>
                                </div>
                            </div>
                            <div id="inputField" style="display:none;">
                                <label for="CardNumber">Card Number:</label>
                                <input type="text" id="CardNumber" name="CardNumber">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">
                                    Check Out
                                </button>
                            </div>
                        </div>
                    </form>

                    <script>
                        function toggleInput() {
                            var selectedOption = document.getElementById("PaymentMethod").value;
                            var inputField = document.getElementById("inputField");

                            // Show/hide input field based on the selected option
                            inputField.style.display = (selectedOption === "Card") ? "block" : "none";
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
