@model List<Reservation>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0"
     style="background-image: url(../img/carousel-1.jpg)">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">
                Results
            </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item text-white active"
                        aria-current="page">
                        Results
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Admin Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mt-5">
            <div class="m-auto col-lg-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">

                    <div class="row g-3">
                        <table>
                            <thead>
                                <tr>
                                    <th>Reservation ID</th>
                                    <th>Check in Date</th>
                                    <th>Check out Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var result in Model)
                                {
                                    <tr>
                                        <td>@result.ID</td>
                                        <td>@result.CheckInDate</td>
                                        <td>@result.CheckOutDate</td>
                                    </tr>

                                }
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Admin End -->